name: Create Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Next release version. If empty then use semantic release.
        required: false
        type: string
      release_notes_source:
        description: Source for release notes generation.
        required: false
        type: choice
        default: github
        options:
          - github
          - semantic-release

jobs:
  create-release:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout the code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}

      - name: Work out the new version via Semantic Release
        if: ${{ inputs.version == '' }}
        uses: cycjimmy/semantic-release-action@8e58d20d0f6c8773181f43eb74d6a05e3099571d #3.4.2
        id: semantic
        with:
          branch: ${{ github.ref_name }}
          dry_run: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Apply new version to environment
        run: |
          echo "VERSION=${{ inputs.version || steps.semantic.outputs.new_release_version }}" >> $GITHUB_ENV

      - name: Update versions
        run: ./.github/scripts/update-versions.sh
        shell: bash

      - name: Commit version changes
        uses: stefanzweifel/git-auto-commit-action@3ea6ae190baf489ba007f7c92608f33ce20ef04a #4.16.0
        id: commit
        with:
          commit_message: "chore: bumped versions to ${{ env.VERSION }}"
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}

      - name: Publish GitHub release (with GitHub generated notes)
        if: ${{ inputs.release_notes_source == 'github' }}
        uses: ncipollo/release-action@440c8c1cb0ed28b9f43e4d1d670870f059653174 #1.16.0
        with:
          generateReleaseNotes: true
          commit: ${{ steps.commit.outputs.commit_hash }}
          tag: ${{ env.VERSION }}

      - name: Publish GitHub release (with semantic release notes)
        if: ${{ inputs.release_notes_source == 'semantic-release' }}
        uses: ncipollo/release-action@440c8c1cb0ed28b9f43e4d1d670870f059653174 #1.16.0
        with:
          body: ${{ steps.semantic.outputs.new_release_notes }}
          commit: ${{ steps.commit.outputs.commit_hash }}
          tag: ${{ env.VERSION }}
